body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
}

.box {
    background: white;
    width: 300px;
    padding: 20px;
    margin: 80px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
}

input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}

button {
    padding: 8px;
}

.chatBox {
    width: 80%;
    height: 400px;
    margin: 20px auto;
    border: 1px solid #aaa;
    background: #f9f9f9;
    overflow-y: scroll;
    padding: 10px;
    text-align: left;
}
